@import "~bootstrap/scss/bootstrap";

@mixin flexCenter {
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px;
  margin-top: 10px;
  min-height: 500px;
  border: solid black 2px;
  border-radius: 25px;

  .task {
    padding: 6px;
    border: solid black 2px;
    background-color: rgba(255, 166, 0, 0.616);
  }
}

.heading {
  @include flexCenter();
  padding: 20px;
}

.column-center {
  @include flexCenter();
}

.input-group {
  margin-bottom: 4px;
  @include flexCenter();
  .input-group-text {
    width: 120px;
    border: green solid;
  }
  .form-control {
    max-width: 50%;
    border: black solid;
    border-radius: 0px;
  }
  .btn-check {
    margin-left: 30px;
  }
  #priority {
    border-color: yellow;
  }
}

.add-button {
  margin-top: 10px;
  min-width: 137px;
  background-color: #ea1538;
  color: white;
}

.del {
  display: inline-block;
  background-color: red;
  color: white;
  margin-left: auto;
  border: solid black 2px;
  border-radius: 10px;
  padding: 2px 6px;
  cursor: pointer;

  :hover {
    transform: scale(0.9);
  }
}

.done {
  opacity: 0.5;
}
