@import "~bootstrap/scss/bootstrap";

@mixin flexCenter {
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px;
  margin-top: 10px;
  min-height: 500px;
  border: solid black 2px;
  border-radius: 25px;
  .task {
    display: grid;
    margin-bottom: 4px;
    grid-template: repeat(3, 30px) / repeat(2, 1fr);
    padding: 6px;
    border: solid black 2px;
    background-color: rgba(255, 166, 0, 0.616);
  }
  .task-title {
    grid-row: 1/2;
    grid-column: 1/2;
    font-weight: bold;
  }
  .del {
    width: 67px;
    text-align: center;
    background-color: red;
    margin-left: auto;
    font-weight: bold;
    color: white;
    border: solid black 2px;
    border-radius: 10px;
    padding: 2px 6px;
    cursor: pointer;
    margin-bottom: 2px;
  }
  .note {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .due-date {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 8px;
  }
  .done-task {
    @extend .del;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: green;
  }
  .edit-task {
    @extend .del;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: skyblue;
  }
  .save-task {
    @extend .del;
    grid-column: 2/3;
    background-color: yellowgreen;
  }
  .priority {
    @extend .del;
    margin-right: auto;
    margin-left: 0px;
    width: 80px;
  }
}

.heading {
  @include flexCenter();
  padding: 20px;
}

.column-center {
  @include flexCenter();
}

.input-group {
  margin-bottom: 4px;
  @include flexCenter();
  .input-group-text {
    width: 120px;
    border: #2596be solid;
  }
  .form-control {
    max-width: 50%;
    border: black solid;
    border-radius: 0px;
  }
  .btn-check {
    margin-left: 30px;
  }
  #priority {
    border-color: #2596be;
  }
}

.note {
  font-style: italic;
}

.add-button {
  margin-top: 10px;
  min-width: 137px;
  background-color: #ea1538;
  color: white;
}

.done {
  opacity: 0.5;
}
